Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Vanessa é uma cientista de dados que está realizando algumas análises com dados ambientais. Ela está desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes países do mundo, mas para isso precisa das estimativas populacionais desses países. Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da página Wikipédia.

Assim como Vanessa, seu desafio é obter um DataFrame da tabela que contém as informações do número de habitantes de cada país.

In [1]:
import pandas as pd

In [2]:
dados_html = pd.read_html('/home/laza/Dados/Alura/Pandas/c2_trabalhando_com_diferentes_formatos_arquivos/aula_04/Lista de países por população – Wikipédia, a enciclopédia livre.html')

In [3]:
dados_html

[     Unnamed: 0 Posição    País (ou território dependente) Estimativa da ONU  \
 0           NaN       1                              Índia     1 429 921 746
 1           NaN       2                              China     1 426 391 281
 2           NaN       3                     Estados Unidos       339 987 103
 3           NaN       4                          Indonésia       277 184 719
 4           NaN       5                          Paquistão       240 215 932
 ..          ...     ...                                ...               ...
 245         NaN       –     Ilha de Ascensão (Reino Unido)             1 100
 246         NaN     195                           Vaticano               879
 247         NaN       –  Ilhas Cocos (Keeling) (Austrália)               605
 248         NaN       –     Tristão da Cunha (Reino Unido)               264
 249         NaN       –       Ilhas Pitcairn (Reino Unido)                67

     Crescimento desde a última estimativa      Estimativa Oficial
 0                            +269.108.746      Estimativa oficial
 1                             +87.778.313           Censo oficial
 2                             +31.241.565           Censo oficial
 3                             +33.168.546      Estimativa oficial
 4                             +65.636.932      Estimativa oficial
 ..                                    ...                     ...
 245                                   NaN  Estimativa oficial[10]
 246                                   NaN      Estimativa oficial
 247                                   NaN      Estimativa oficial
 248                                   NaN  Estimativa oficial[11]
 249                                   NaN      Estimativa oficial

 [250 rows x 6 columns],
 Empty DataFrame
 Columns: [[Expandir]vdeListas de países, [Expandir]vdeListas de países.1]
 Index: [],
             0                                                  1
 0     Consumo  Bebidas Cerveja Idade legal Cannabis Adultos C...
 1     Energia  Eletricidade Produção Renovável Gás Natural Ex...
 2         PIB  Crescimento Real PIB Nominal per capita PIB po...
 3    Produção  Alumínio Antimônio Bauxita Bismuto Carvão Rese...
 4  Transporte  Aeroportos Automóveis per capita Produzidos He...]

In [4]:
type(dados_html)

list

In [5]:
table_populacao = dados_html[0]

In [7]:
table_populacao

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,NaN,2,China,1 426 391 281,+87.778.313,Censo oficial
2,NaN,3,Estados Unidos,339 987 103,+31.241.565,Censo oficial
3,NaN,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,NaN,195,Vaticano,879,NaN,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

In [14]:
populacao = table_populacao[['País (ou território dependente)','Estimativa da ONU']]

In [15]:
populacao

       País (ou território dependente) Estimativa da ONU
0                                Índia     1 429 921 746
1                                China     1 426 391 281
2                       Estados Unidos       339 987 103
3                            Indonésia       277 184 719
4                            Paquistão       240 215 932
..                                 ...               ...
245     Ilha de Ascensão (Reino Unido)             1 100
246                           Vaticano               879
247  Ilhas Cocos (Keeling) (Austrália)               605
248     Tristão da Cunha (Reino Unido)               264
249       Ilhas Pitcairn (Reino Unido)                67

[250 rows x 2 columns]

---

Nessa aula, você aprendeu a:
- Inspecionar uma página web;
- Realizar a leitura de dados de uma página web;
- Escrever arquivos HTML;
- Entender como é estruturado o formato XML;
- Fazer a leitura de dados no formato XML;
- Escrever arquivos no formato XML.